{#- ######################################################################
 # Jinja2 template for the mfshdd.cfg configuration file
 ######################################################################### -#}
{#- Enumerate storage points -#}
{%- for storage in infra_moosefs_chunkserver_storage -%}

  {#- Output the 'marked for removal' flag -#}
  {%- if 'retired' in storage and storage.retired -%}
    {{ "*" }}
  {%- endif -%}

  {#- Output storage path -#}
  {{ storage.path ~ "\n" }}

{%- endfor -%}
{#- End of storage enumeration -#}
