{#- ######################################################################
 # Jinja2 template for the mfsmetalogger.cfg configuration file
 ######################################################################### -#}
{#- A dict of all valid config options with their default values -#}
{%- set default_options = infra_moosefs_metalogger_config_defaults -%}

{#- Enumerate all known config options -#}
{%- for option in default_options -%}

  {#- If a specific value was supplied for the current option, use it -#}
  {%- if option in infra_moosefs_metalogger_config_settings -%}

    {#- Store the current option value -#}
    {%- set value = infra_moosefs_metalogger_config_settings[option] -%}

    {#- Cast current option value to the correct type -#}
    {%- if default_options[option]['type'] == 'string' -%}
      {%- set value = value | string -%}
    {%- elif default_options[option]['type'] == 'bool' -%}
      {%- set value = true if value else false -%}
    {%- elif default_options[option]['type'] == 'int' -%}
      {%- set value = value | int -%}
    {%- elif default_options[option]['type'] == 'float' -%}
      {%- set value = '%0.2f' | format(value | float) -%}
    {%- endif -%}

  {#- Else, fall back to default -#}
  {%- else -%}
    {%- set value = default_options[option]['default'] -%}
  {%- endif -%}

  {#- Render config option line, if needed -#}
  {#- We only render non-default options -#}
  {%- if value != default_options[option]['default'] -%}
    {#- Show option description -#}
    {{ "# " ~ default_options[option]['description'] ~ "\n" }}
    {#- Boolean options must be rendered as integers -#}
    {%- if default_options[option]['type'] == 'bool' -%}
      {{ option ~ "=" ~ ("1" if value else "0") ~ "\n\n" }}
    {#- Other options are rendered as-is -#}
    {%- else -%}
      {{ option ~ "=" ~ value ~ "\n\n" }}
    {%- endif -%}
  {%- endif -%}

{%- endfor -%}
{#- End of enumeration of all known config options -#}
