{#- ######################################################################
 # Jinja2 template for the mfstopology.cfg configuration file
 ######################################################################### -#}
{#- Enumerate entries -#}
{%- for item in infra_moosefs_master_topology -%}

  {#- Render the topology entry -#}
  {%- if  'ip'   in item
      and 'rack' in item
      and item.ip   | ipaddr
      and item.rack | int -%}
    {{ item.ip | string ~ "\t" ~ item.rack | int ~ "\n" }}
  {%- endif -%}

{%- endfor -%}
{#- End of topology entry enumeration -#}
